<mat-toolbar class="app-toolbar mat-elevation-z4" > <!--*ngIf="isLoggedIn | async" -->
  <span>
    <img class="toolbar-brand" src="assets/images/tasker-logo.png">
  </span>

  <span class="toolbar-buttons">
    <a mat-icon-button class="medium" [routerLink]="['/']">
      <mat-icon color="primary">home</mat-icon>
    </a>
    <a mat-icon-button class="medium" [routerLink]="['/tasks']">
      <mat-icon color="primary">list</mat-icon>
    </a>
    <!-- <a mat-icon-button class="medium">
      <mat-icon color="primary">timeline</mat-icon>
    </a> -->
    <a mat-icon-button [routerLink]="['/tasks/new']" class="medium">
      <mat-icon color="primary">playlist_add</mat-icon>
    </a>
  </span>

  <span>{{loggedUser}}</span>

</mat-toolbar>