<mat-card class="task-tree-container">
  <mat-card-title>
    Drzewo zadań
  </mat-card-title>
  <!-- <mat-card-subtitle>
    Zaaplikowane filtry (Użytkownicy):
    <div style="display: inline-block">
      <p *ngFor="let user of UsersFilters">{{user.username}}</p>
    </div>

    <br> Zaaplikowane filtry (Punkty kontrolne):
    <div style="display: inline-block">
      <p *ngFor="let milestone of MilestonesFilters">{{milestone.name}}</p>
    </div>

  </mat-card-subtitle> -->
  <mat-card-content>
    <mat-nav-list>
      <ng-template #recursiveList let-test="test" let-list>
        <div class="indented" *ngFor="let item of list; let i = index">
          <tskr-task-thumbnail *ngIf="filters===undefined || (filters!==undefined && test[i].visible)" [task]="item"></tskr-task-thumbnail>
          <div *ngIf="item.children.length > 0 && test[i].childrens.length > 0 && item.showChildren === true">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children, test: test[i].childrens}"></ng-container>
          </div>
        </div>
      </ng-template>
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list, test: filters}"></ng-container>
    </mat-nav-list>
  </mat-card-content>

</mat-card>