div {
    border: solid 0px;
    border-color: black;
}

.bg-error {
    background-color: #b94a48;
}

.bg-success {
    background-color: #468847;
}

.bg-warning {
    background-color: #f89406;
}

.indented {
    margin-left: 15px;
    margin-bottom: -1px
}

mat-card.task-tree-container {

}