.task-main-container {
    margin: 16px;

    .users-filters-container {
        mat-card.users-filters {

            .user-container {
                min-width: 32px;
                display: inline-block;
                text-align: center;
                button {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .milestones-filters-container {
        margin-top: 16px;

        mat-card.milestones-filters {

            .milestone-container {
                min-width: 32px;
                display: inline-block;
                margin-right: 30px;                
                text-align: center;
                
                button {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .tasks-master-details-container {
        margin-top: 16px;

        .tasks-details-container {
            margin-left: 16px;
        }
    }
}

.tooltipClass{
    background-color: orange !important;
    border-radius: 18px !important;
    font-size: 40px !important;
}

.closest{
    position: absolute;
    z-index: 1;
    margin-left: 30px;
    margin-top: -1px;
    color: red;
}