<div class="task">
    <i (click)="showChildernChange(task)" *ngIf="task.showChildren === false && task.children.length !== 0" class="material-icons pointer">keyboard_arrow_down</i>
    <i (click)="showChildernChange(task)" *ngIf="task.showChildren === true && task.children.length !== 0" class="material-icons pointer">keyboard_arrow_up</i>

    <a mat-button (click)="setChosenTask(task)" color="" [routerLink]="['/tasks', task.id]" *ngIf="task" class="list-group-item" draggable="true">
        {{task.title}}
    </a>


    <span class="status-icon" [ngSwitch]="task.statusId">
        <mat-icon *ngSwitchCase="1" (click)="openDialog()" class="status-not-started">highlight_off</mat-icon>
        <mat-icon *ngSwitchCase="2" (click)="openDialog()" class="status-in-progress">cached</mat-icon>
        <mat-icon *ngSwitchCase="3" (click)="openDialog()" class="status-done">done</mat-icon>
    </span>
    <button mat-icon-button (click)="deleteTask(task.id)" class="remove">
        <i class="material-icons remove">clear</i>
    </button>
    <a mat-mini-fab color="primary" (click)="setChosenTask(task)" [routerLink]="['/tasks/new/', task.id]" class="add-button">
        <mat-icon>add</mat-icon>
    </a>
</div>