<h1 mat-dialog-title>Edytuj projekt</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field>
            <textarea matInput [(ngModel)]="projectToEdit.Name" placeholder="Nazwa projektu"></textarea>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput [(ngModel)]="projectToEdit.Description" placeholder="Opis projektu"></textarea>
        </mat-form-field>
    </div>

    <div>
        <button mat-button (click)="editProject()" >Edytuj</button>
        <button mat-button (click)="no()">Anuluj</button>
    </div>
</div>