<mat-card class="task-details-container">
        <mat-card-title>
                {{Title}}
        </mat-card-title>
        <hr/>
        <mat-chip-list>
                <p>Punkty kontrolne zadania: </p>
                <mat-chip class="milestone-chip" *ngFor="let mil of ControlPointsInUse">{{mil.name}}</mat-chip>
        </mat-chip-list>

        <mat-chip-list>
                <p>Osoba odpowiedzialna: </p>
                <mat-chip class="main-performer-chip" color="primary" selected="true" *ngIf="mainPerformer">{{mainPerformer.username}}</mat-chip>
        </mat-chip-list>

        <mat-chip-list>
                <p>Wykonawcy zadania: </p>
                <mat-chip class="task-performer-chip" *ngFor="let usr of taskPerformers">{{usr.username}}</mat-chip>
        </mat-chip-list>
        <hr>
        <!-- <mat-card-content class="details-content"> -->
        <p>Opis zadania: </p>

        <p class="details-content">
                {{Description}}
        </p>
        <!-- </mat-card-content> -->

        <!-- <mat-card-header> -->
        {{TaskStatus}}
        <!-- </mat-card-header> -->
        <hr>
        <mat-card-actions class="task-details-actions">
                <button mat-raised-button color="primary" (click)="editTask()">Edytuj</button>
                <button mat-raised-button color="warn" (click)="deleteTask()">Usuń</button>
                <button mat-raised-button (click)="deleteTask()">Anuluj</button>
                <button mat-raised-button (click)="addComment()">Dodaj komentarz</button>                
        </mat-card-actions>
</mat-card>
<tskr-comment #Comments></tskr-comment>