<div class="container">
    <mat-card>
        <mat-card-header class="greeter">
            <div>
                <p>Dzień dobry, {{currentUser.firstName}}!</p>
            </div>
            <div class="avatar-container">
                <img mat-card-avatar src="assets/images/avatar_tmp.png" (click)="changeAvatar()"/>
                <input type="file" #fileInput hidden/>                
            </div>
            <hr/>
        </mat-card-header>

        <mat-card-content>
            <mat-nav-list>
                <mat-list-item *ngFor="let project of userProjects">
                    <a matLine (click)="goToTasks(project.id)">{{ project.name }}</a>
                    <button mat-icon-button (click)="showInfo(link)">
                        <mat-icon>info</mat-icon>
                    </button>
                    <button mat-icon-button (click)="goToSettings(project.id)">
                        <i class="material-icons">settings</i>
                    </button>
                    <button mat-icon-button (click)="deleteProject(project)">
                        <i class="material-icons">delete</i>
                    </button>

                </mat-list-item>
            </mat-nav-list>
        </mat-card-content>
        <mat-card-actions>
            <button ttle="Dodaj projekt" mat-fab color="primary" mat-button (click)="addProject()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>


</div>