.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-image: url("../../../assets/images/bg.png");
    background-size: cover;
    min-height: 100% !important;
    min-width: 100% !important;
}

mat-card {
    margin: 2em auto;
    text-align: center;
    background-color: rgba(255, 255, 255, .9) !important;
}

.register-box-header {
    img {
        max-width: 60%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
}

.justifier {
    width: 100%;
    padding-bottom: 2%;
}

.icon-aligner {
    margin-top: -2px;
}

.register-button {
    width: 100%;
    padding: 1.5% !important;
    font-size: 1.5em;
    color: #fff !important;
}

hr {
    display: block;
    margin: 10px 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, .12);
    width: 100%
}